include common/_header
section.about-me
	section.about-me__left
		.about-me__left_left-block
			.about-me__left_header обо мне
			.works__line
		.about-me__left_right-block
			img(src="assets/img/about-me.jpg").about-me__img
			.about-me__left_wrapper
				.about-me__header кто я
				.works__line
				.about-me__info Я работаю таможенным брокером, но главной моей целью является освоение профессии веб разработчика. Я очень люблю делать сайты, для меня это увлекатеное занятие, которое может быть не только хобби, но и приносить деньги.
				.about-me__info На данный момент я сделала только один сайт, однако это только начало. В планах у меня есть несколько проектов, которые помогут мне осуществить свою мечту. 

	section.about-me__right
		.about-me__header чем я могу быть вам полезна
		.works__line
		.about-me__info Больше всего я предпочитаю Frontend разработку, однако иногда приходится решать проблемы, связанные с Backend
		.about-me__skills.clearfix
section.map
	#map
	.my-contacts
		.about-me__header контакты
			.works__line
		.my-contacts__info
			.my-contacts__sk
			.my-contacts__sk_name Foxy_charm
			.my-contacts__mail
			.my-contacts__mail_name rodinka7@gmail.com
			.my-contacts__phone
			.my-contacts__phone_number +38 097 434 76 67
			.my-contacts__adress
			.my-contacts__adress_name Коростень, Житомирская обл.

	include common/footer