doctype html
html
	include common/_head-my
	body
		.admin__wrapper
			.admin__bg
				img.admin__bg_img(src="assets/img/water.jpg")
			header.admin__head
				.admin__head_header Панель администрирования
				a.admin__head_link(href="index.html") Вернуться на сайт
			section.admin__main
				section.tabs
					ul.tabs__list
						each tab, id in tabs
							li.tabs__item 
								a.tabs__link(href="#{tab.href}") #{tab.title}
				section.admin__wrapper_content
					section.admin__content#admin-about
						include common/admin/_admin_about-me
					section.admin__content#admin-blog
						include common/admin/_admin_blog
					section.admin__content#admin-works
						.admin__content_header #{tabs.tab3.name}
						section.admin__content_block
							.skills__head Добавить работу
							input.blog-input.blog-item(type="text" placeholder="Название проекта")
							input.blog-input.blog-item(type="text" placeholder="Технологии")
							.blog__add-img
								a.blog__add-img_link Загрузить картинку
									img.blog__add-img_image(src="assets/img/add-img.png")
							.admin__skills_saveBtn
								input(type="button" value="Добавить").save_btn.adminButton
						.admin__message#admin-message
							.admin__message_text Сообщение отправлено
							.admin__skills_saveBtn
								input(type="button" value="Закрыть").save_btn

					
					