include common/_header
.blog-wrapper
	aside.aside-wrapper
		ul.aside-wrapper__list
			li.aside-wrapper__item
				a.aside-wrapper__link Самое важное в CSS
			li.aside-wrapper__item
				a.aside-wrapper__link Приемы в верстке, без которых не обойдется ни один сайт
			li.aside-wrapper__item
				a.aside-wrapper__link Самый необходимый набор Галп плагинов
			li.aside-wrapper__item
				a.aside-wrapper__link ПОчему я выбрал Jade
	section.blog-content
		article.blog-content__article
			.article__header Самое важное в CSS
			.article__date 10.06.2016
			.article__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit debitis fuga esse, earum aliquid quo illum numquam necessitatibus magnam, nesciunt molestiae optio minus perspiciatis perferendis consequatur, eum inventore, quaerat temporibus a. Quam iusto nesciunt sed doloribus molestias distinctio, alias sint a sit nam repellendus quibusdam, animi maiores quidem officia rem.
		article.blog-content__article
			.article__header Приемы в верстке, без которых не обойдется ни один сайт
			.article__date 12.06.2016
			.article__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati accusantium odit fugit explicabo repellendus, laboriosam impedit quod corrupti? Voluptas alias illo perspiciatis suscipit libero rerum, iure odio in eum voluptatibus dolor sit, optio ab veniam at dolorem vel. Porro quos, corporis quod quibusdam quaerat, fugiat atque laboriosam minus reprehenderit. A praesentium aut, labore necessitatibus impedit illo. Quia omnis quisquam magnam libero commodi quaerat dolor beatae cumque nemo consequatur. Perspiciatis, laudantium!
		article.blog-content__article
			.article__header Самый необходимый набор Галп плагинов
			.article__date 11.06.2016
			.article__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas officiis fuga blanditiis quaerat, dolores, nisi delectus vitae accusamus. Sapiente voluptas ducimus officia voluptate perspiciatis dolor eum corporis consectetur totam! Maiores.
		article.blog-content__article
			.article__header ПОчему я выбрал Jade
			.article__date 14.06.2016
			.article__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ratione laboriosam, sint atque quisquam necessitatibus molestias quis numquam. Rerum, quod eos sapiente vel quam nostrum nemo quae quos hic praesentium laudantium, labore magnam doloremque repellat beatae officiis? Blanditiis architecto dolore reiciendis ut accusamus accusantium, quo error perferendis eos dolorum veniam, doloremque corporis, aliquid consectetur est. Voluptatibus ipsam itaque nisi maiores saepe. Voluptates ut laudantium, rem magnam, ab assumenda. Laborum sint qui repellat quo quasi quod voluptas itaque ex mollitia nisi officiis numquam, nulla velit rerum placeat, ratione facere id ad nobis accusantium odit veritatis vitae. Praesentium placeat expedita ducimus architecto amet magnam qui ut, repellendus nobis delectus. Voluptate, eos quibusdam vitae debitis, ea, hic ad, ratione minus nulla saepe ipsum?
	include common/footer
	