doctype html
html
	include common/_head-my
	body
		//Не забыть дописать про обновление устаревшего браузера
		#page-preloader
		.wrapper
			.formPopup#robot
				.formPopup__wrapper
					a.formPopup__close
						span.span-line
					.formPopup__message роботам здесь не место!
			.formPopup#failLogin
				.formPopup__wrapper
					a.formPopup__close
						span.span-line
					.formPopup__message пожалуйста, заполните все поля формы!
			.formPopup#success
				.formPopup__wrapper
					a.formPopup__close
						span.span-line
					.formPopup__message добро пожаловать в админку!
			header.clearfix
				.autorize-link__wrapper
					a#autorize-link(href="#") Авторизоваться
			
			.wrapper-flipper
				.flipper#transform
					.container.clearfix
						.container__img-wrapper
							img.container__img(src="assets/img/my-photo.jpg")
						h2.container__header Татьяна Войтович
						h4.container__info Личный сайт веб разработчика
						include common/_socials
						.container__menu-wrapper
							ul.container__menu-list
								li.container__menu-item
									a.container__menu-link(href='works.html') Мои работы		
								li.container__menu-item
									a.container__menu-link(href='about.html') Обо мне	
								li.container__menu-item
									a.container__menu-link(href='blog.html') Блог	
					.container.autorization.clearfix
						.container-autorization__header авторизуйтесь
						.container-autorization__line 
						form(name="loginForm" method="post").container-autorization__form 
							.svg-login			
							input.container__input#input_login(type="text" placeholder="Логин" name="login")
							.svg-password
							input.container__input#input_password(type="password" placeholder="Пароль" name="password")
							.input-wrapper
								input#container-autorization__man.container__checkbox(type="checkbox" name="checkbox")
								label.container-label.man(for="container-autorization__man") Я человек
							.question Вы точно не робот?
							input#container-autorization__yes.container__checkbox(type="radio" name="yes")
							label.container-label.yes(for="container-autorization__yes") Да
							input#container-autorization__no.container__checkbox(type="radio" name="no")
							label.container-label.no(for="container-autorization__no") Не уверен
						.container__menu-wrapper
							ul.container__menu-list
								li.container__menu-item.autorization
									a.container__menu-link#main(href='welcome.html') На главную	
								li.container__menu-item.autorization
									input(type="submit" name="loginMe" value="Войти").container__menu-link.loginMe
			footer
				h4.footer-info &#169; Татьяна Войтович | Создано с любовью в Loftschool | 2016
