extends common/_header
block page_name
	h4.container__info.works Личный сайт веб разработчика 
block triangles
	.head__table-footer.clearfix
		svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
			polygon(points="0,0   0,86   500.8,86   500.8,75.5")
			polygon(points="1000,0   1000,86   500,86   500,75.5")
block content
	include common/_works-content