include common/_header
.works
	.works__head мои работы
		.works__line 
	section.works__myWorks
section.about
	.about__head что обо мне говорят
	.works__line
	.about__wrapper.clearfix
		.about__wrapper-comment
			.about__wrapper-img
				img.about__img(src='assets/img/dima.jpg')
			.about__wrapper-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis impedit, adipisci. Voluptates rem architecto vitae quod ipsam vel quia assumenda temporibus cumque illum tempore explicabo accusamus quisquam possimus excepturi maiores saepe molestiae velit corporis, magni incidunt sunt culpa, harum, a provident? Unde laudantium nemo tempore a eligendi, consequuntur eos?
			.about__wrapper-author основатель Loftschool
				span Ковальчук Дмитрий
		.about__wrapper-comment
			.about__wrapper-img
				img.about__img(src='assets/img/zar.jpg')
			.about__wrapper-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis impedit, adipisci. Voluptates rem architecto vitae quod ipsam vel quia assumenda temporibus cumque illum tempore explicabo accusamus quisquam possimus excepturi maiores saepe molestiae velit corporis, magni incidunt sunt culpa, harum, a provident? Unde laudantium nemo tempore a eligendi, consequuntur eos?
			.about__wrapper-author главный преподователь
				span Зар Захаров
	.contact-me
		.contact-me__header связаться со мной
		.contact-me__line 
		form.contact-me__form 
			input.contact-me__input.name(type="text" value="имя")
			input.contact-me__input.email(type="email" value="Email")
			textarea.contact-me__textarea(cols="30", rows="10", value="Связаться со мной") Ваше сообщение
		.contact-me__wrapper
			ul.contact-me__list
				li.contact-me__item
					a.contact-me__link(href='№') Отправить	
				li.contact-me__item
					a.contact-me__link(href='#') Очистить
	.footer
		.footer__menu.clearfix
			ul.footer__menu-list
				li.footer__menu-item.info Этот сайт я сделала в рамках обучения в Школе</br> онлайн образования Loftschool
				li.footer__menu-item.menu
					ul.menu__list
						li.menu__list-item
							a.menu__list-link(href='works.html') Мои работы
						li.menu__list-item
							a.menu__list-link(href='works.html') Обо мне
						li.menu__list-item 
							a.menu__list-link(href='blog.html') Блог
						li.menu__list-item 
							a.menu__list-link(href='welcome.html') Авторизация
					.container__socials-wrapper
						.container__socials.vk
							a.container__socials-link(href="#") 
						.container__socials.git
							a.container__socials-link(href="#") 
						.container__socials.in
							a.container__socials-link(href="#") 
				li.footer__menu-item.cite Всегда пишите код так, будто сопровождать его будет склонный к<br/>насилию психопат, который знает, где вы живете.
					span - Martin Golding		
		.footer__bottom &#169; Татьяна Войтович | Создано с любовью в Loftschool | 2016