doctype html
html
	include _head-my
	body
		.head__table
			header.head__table-head
				include _socials
				a#head__menu.svg-hamburger(href="#")
			.head__table-content
				.container__img-wrapper
					img.container__img(src="assets/img/my-photo.jpg")
				h2.container__header Татьяна Войтович
				block page_name

			block triangles
				//h4.container__info.works Личный сайт веб разработчика
			a.arrow-down(href="#")
				img.arrow-down__img(src='assets/img/portf_arrow_down.svg')			

			//.head__table-footer.clearfix
				svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="triangle")
					polygon(points="0,0   0,86   500.8,86   500.8,75.5")
					polygon(points="1000,0   1000,86   500,86   500,75.5")
		include _menu
		block content