#menu.menu-color
	.menu_button
		input(type="checkbox")#menu_checkbox
		label(for="menu_checkbox")#label__menu
			span
	ul.menu-color__list
		li.menu-color__item
			a.menu-color__link(href="works.html") мои работы 
			.menu-color__line
		li.menu-color__item
			a.menu-color__link(href="blog.html") блог 
			.menu-color__line
		li.menu-color__item
			a.menu-color__link(href="about.html") обо мне 
			.menu-color__line
		li.menu-color__item
			a.menu-color__link(href="index.html") авторизация 
			.menu-color__line
