section.frontend
	.frontend__head Frontend
	.frontend__skills
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.html(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text HTML5
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.css(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text CSS3
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.js(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Javascript, JQuery
section.frontend
	.frontend__head Backend
	.frontend__skills
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.php(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text PHP
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.mysql(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text mySQL
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.node(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Node.js, npm
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.mongo(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Mongo.db
section.frontend
	.frontend__head WorkFlow
	.frontend__skills
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.git(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Git
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.gulp(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Gulp
		.frontend__blocks
			svg.circles
				circle(r="40" cx="60" cy="50" stroke="#dfdcd5" fill="none")
				circle.sector.bower(r="40" cx="60" cy="50" transform="rotate(-90 60 50)" stroke="#77a266" fill="none")
				.frontend__text Bower

