.container__socials-wrapper.clearfix
	.container__socials.vk
		a.container__socials-link(href="https://vk.com/id1242739")
			i.fa.fa-vk.fa-2x.social-icon(aria-hidden="true")
	.container__socials.github
		a.container__socials-link(href="https://github.com/rodinka7")
			i.fa.fa-github-alt.fa-2x.social-icon(aria-hidden="true")
	.container__socials.in
		a.container__socials-link(href="#")
			i.fa.fa-linkedin.fa-2x.social-icon(aria-hidden="true")