.container__socials-wrapper
	.container__socials.svg-vk
		a.container__socials-link(href="https://vk.com/id1242739")
	.container__socials.svg-github
		a.container__socials-link(href="https://github.com/rodinka7")
	.container__socials.svg-in
		a.container__socials-link(href="#")