section.works
	.works__head мои работы
		.works__line 
	section.slider.clearfix
		section.about-me__left.inform
			.about-me__left_center
				.slider__display
					img.slider__img(src="assets/img/2.png" alt="")

				.about-me__header сайт школы онлайн <br>образования
					.works__line
				.works__skills-info html, css, javascript
				.works__site 
					a.works__url(href="#") Посмотреть сайт
						img.works__img(src="assets/img/link.svg")
		section.about-me__right.slider__right.clearfix
			.slider__controls
				a(href="").slider__controls-item.slider__controls-item_prev
					img.slider__img.active(src="assets/img/1.png" alt="")
					img.slider__img(src="assets/img/4.png" alt="")
					img.slider__img(src="assets/img/3.png" alt="")
					img.slider__img(src="assets/img/2.png" alt="")
				a(href="").slider__controls-item.slider__controls-item_next
					img.slider__img.active(src="assets/img/3.png" alt="")
					img.slider__img(src="assets/img/4.png" alt="")
					img.slider__img(src="assets/img/1.png" alt="")
					img.slider__img(src="assets/img/2.png" alt="")
section.about
	.about__head 
		.about__head_inside что обо мне
		.about__head_inside говорят
		.works__line
	section.about__review
			.about__wrapper
				.about__wrapper-comment
					.about__wrapper-img
						img.about__img(src='assets/img/dima.jpg')
					.about__wrapper-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis impedit, adipisci. Voluptates rem architecto vitae quod ipsam vel quia assumenda temporibus cumque illum tempore explicabo accusamus quisquam possimus excepturi maiores saepe molestiae velit corporis, magni incidunt sunt culpa, harum, a provident? Unde laudantium nemo tempore a eligendi, consequuntur eos?
					.about__wrapper-author основатель Loftschool
						span Ковальчук Дмитрий
				.about__wrapper-comment
					.about__wrapper-img
						img.about__img(src='assets/img/zar.jpg')
					.about__wrapper-info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nobis impedit, adipisci. Voluptates rem architecto vitae quod ipsam vel quia assumenda temporibus cumque illum tempore explicabo accusamus quisquam possimus excepturi maiores saepe molestiae velit corporis, magni incidunt sunt culpa, harum, a provident? Unde laudantium nemo tempore a eligendi, consequuntur eos?
					.about__wrapper-author главный преподователь
						span Зар Захаров
			.contact-me.clearfix
				.blur
					.contact-me__header связаться со мной
					.contact-me__line 
					form.contact-me__form 
						input.contact-me__input.name(type="text" value="имя")
						input.contact-me__input.email(type="email" value="Email")
						textarea.contact-me__textarea(cols="30", rows="10", value="Связаться со мной") Ваше сообщение
					.contact-me__wrapper
						ul.contact-me__list
							li.contact-me__item
								a.contact-me__link(href='№') Отправить	
							li.contact-me__item
								a.contact-me__link(href='#') Очистить
	
	include footer