script(src="assets/js/blur.js" defer)
section.works
	.works__head мои работы
		.works__line 
	include slider

section.about
	.about__head 
		.about__head_inside что обо мне
		.about__head_inside говорят
		.works__line
	section.about__review
			.formPopup#success
				.formPopup__wrapper
					a.formPopup__close
						span.span-line
					.formPopup__message ваше сообщение успешно отправлено!
			.formPopup#fail
				.formPopup__wrapper
					a.formPopup__close
						span.span-line
					.formPopup__message пожалуйста, заполните все поля формы!
			.about__wrapper
				.about__wrapper-comment
					.about__wrapper-img
						img.about__img(src='assets/img/dima.jpg')
					.about__wrapper_quote
							.about__wrapper-info Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
							.about__wrapper-author Ковальчук Дмитрий
								span - основатель Loftschool
				
				.about__wrapper-comment
					.about__wrapper-img
						img.about__img(src='assets/img/zar.jpg')
					.about__wrapper_quote
							.about__wrapper-info Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
							.about__wrapper-author Зар Захаров
								span - главный преподователь
						
			.contact-me.clearfix
				.blur
				.contact-me__header связаться со мной
				.contact-me__line 
				form(name="feedback" method="post" id="contactForm").contact-me__form 
					input.contact-me__input.name(type="text" placeholder="имя" name="name" id="contactName")
					input.contact-me__input.email(type="email" placeholder="Email" name="email" id="contactEmail")
					textarea.contact-me__textarea(cols="30" rows="10" placeholder="Связаться со мной" name="textarea" id="contactMess")
				.contact-me__wrapper
					ul.contact-me__list
						li.contact-me__item
							input(type="submit" value="Отправить").contact-me__link#submit
						li.contact-me__item
							input(type="reset" value="Очистить").contact-me__link#reset
	
	include footer