footer.footer
		.footer__menu
			.footer__menu-list
				.footer__menu-item.info Этот сайт я сделала в рамках обучения в Школе</br> онлайн образования Loftschool
				.footer__menu-item.menu
					ul.menu__list
						li.menu__list-item
							a.menu__list-link(href='works.html') Мои работы
						li.menu__list-item
							a.menu__list-link(href='about.html') Обо мне
						li.menu__list-item 
							a.menu__list-link(href='blog.html') Блог
						li.menu__list-item 
							a.menu__list-link(href='index.html') Авторизация
					include _socials
				.footer__menu-item.cite Всегда пишите код так, будто сопровождать его будет склонный к<br/>насилию психопат, который знает, где вы живете.
					span - Martin Golding		
		.footer__bottom &#169; Татьяна Войтович | Создано с любовью в Loftschool | 2016