.about-me{
	width:100%;
	text-align:center;
	height:100vh;
	@include tablets{
		height:100%;
	}
	@include desktop{
		height:100%;
	}
	&__left{
		float:left;
		width:50%;
		background:#ebefe2;
		height:100vh;
		@include tablets{
			float:none;
			width:100%;
			height:100%;
		}
		@include desktop{
			height:100%;
		}
		&_left-block{
			width:50%;
			float:left;
			@include tablets{
				float:none;
				width:100%;
			}
			@include desktop{
				height:100%;
			}
		}
		&_header{
			font-size:63px;
			color:#373e42;
			font-family:'sansus_webissimoregular';
			text-transform:uppercase;
			margin-bottom:30px;
			padding:50px 0;
			background:url(../img/about_header.svg) top center no-repeat;

		}
		&_right-block{
			width:50%;
			float:right;
			@include tablets{
				float:none;
				width:65%;
				margin:auto;
			}
			@include desktop{
				height:100%;
			}
		}
		&_wrapper{
			margin-right:50px;
			@include tablets{
				margin:0;
			}
		}
	}
	&__img{
		margin-bottom:40px;
		max-width:100%;
	}
	&__header{
		font-size:35px;
		font-family:'sansus_webissimoregular';
		text-transform:uppercase;
		margin-bottom:30px;
		color:#566358;
	}
	&__info{
		margin:30px 0 60px 0;
		text-align:left;
		font-size:16px;
		font-family:'robotomedium';
		color:#566358;
	}
	&__right{
		float:right;
		width:50%;
		height:100vh;
		text-align:center;
		padding-left:35px;
		@include tablets{
			float:none;
			width:65%;
			margin:auto;
			height:100%;
		}
		@include desktop{
			height:100%;
		}
	}
}
.map{
	width:100%;
	position:relative;
}
#map{
	width:100%;
	height:100vh;
	padding-bottom:185px;
	@include tablets {
		padding-bottom:270px;
	}
}
.my-contacts{
	width:380px;
	height:315px;
	background:rgba(244, 245, 240,0.9);
	text-align:center;
	padding:35px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-190px 0 0 -190px;
	&__info{
		font-size:16px;
		color:#86a77a;
		font-family:'robotomedium';
		text-align:left;
	}
	&__list{
		list-style:none;
	}
	&__item{
		margin-bottom:30px;
		@include tablets{
			margin-bottom:20px;
		}
	}
	.my-contacts__sk_name, 
	.my-contacts__mail_name,
	.my-contacts__adress_name,
	.my-contacts__phone_number{
		padding-left:30px;
		display:inline-block;
		position:relative;
	}  
	.svg-map_marker,.svg-skype,
	.svg-envelope2,.svg-phone {
		width:35px;
		height:35px;
		display:inline-block;
		position:absolute;
		top:-5px;
		left:-30px;
		text-align:left;
	}
}
