.admin__wrapper{
	width:100%;
	height:auto;
	position:relative;
}
.admin__bg{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	&_img{
		max-width:100%;
		filter:opacity(0.2);
		min-width:1500px;
		@include tablets{
			min-width:1850px;
		}
		@include phones{
			min-width:2000px;
		}
	}
}
.admin__head{
	height:80px;
	background:#00bfa5;
	line-height:80px;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	@include phones{
		line-height:30px;
		text-align:center;
	}
	&_header{
		color:#ffffff;
		font-size:28px;
		font-family:'robotomedium';
		margin-left:30px;
		display:inline-block;
		@include tablets{
			font-size:21px;
		}
		@include phones{
			position:static;
			margin:auto;
		}
	}
	&_link{
		color:#ffffff;
		font-size:16px;
		font-family:'robotomedium';
		cursor:pointer;
		text-decoration:none;
		position:absolute;
		right:0;
		margin-right:30px;
	
		&:hover{
			text-decoration:underline;
		}
		
		@include phones{
			font-size:14px;
			position:static;
			display:block;
		}  
	}
}
.admin__main{
	position:absolute;
	top:80px;
	left:0;
	width:100%;
}
.tabs{
	height:60px;
	width:100%;
	background:#f0efe9;
	
	&__list{
		list-style:none;
		margin:0;
		padding:0;
	}
	&__item{
		width:190px;
		line-height:60px;
		text-align:center;
		border-right:1px solid #ffffff;
		display:inline-block;
		font-size:0;
		@include phones{
			width:100%;
			border-bottom:2px solid #ffffff;
			border-right:none;
		}
		&:hover{
			background:#ffffff;
		}
	}
	&__link{
		color:#738085;
		font:16px/60px 'robotomedium';
		text-transform:uppercase;
		text-decoration:none;
		display:block;
		cursor:pointer;
		@include phones{
			font-size:14px;
		}
		&:hover{
			color:#00bfa5;
		}
	}
	@include phones{
		height:auto;
	}	
}
.admin__content{
	width:100%;
	padding-top:50px;
	position:absolute;
	top:60px;
	left:0;
	visibility:hidden;
	@include phones{
		padding-top:30px;
		top:180px;
	}
	&_header{
		color:#738085;
		font: 21px 'robotomedium';
		margin:0 0 50px 30px;
		@include phones{
			margin:0 0 30px 10px;
		}
	}
	&_block{
		width:100%;
		padding-left:30px;
		@include phones{
			margin-left:20px;
		}
	}
}

.blog__add-img{
	margin-bottom:20px;
	outline: none;
	background: none;
	border: none;
	&_link{
		color:#00bfa5;
		text-decoration:none;
		font:16px/35px 'robotomedium';
		padding-left:50px;
		position:relative;
		cursor:pointer;
		&:hover{
			text-decoration:underline;
		}
	}
	&_image{
		position:absolute;
		top:0;
		left:0;
	}
}
.admin__message{
	width:280px;
	height:110px;
	background:#ffffff;
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:2;
	padding:20px;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 0 10px 5px rgba(197, 198, 199, 1);
	visibility:hidden;
	.admin__message_text{
		color:#738085;
		font:14px 'robotomedium';
		margin-bottom:20px;
	}
}
.activeAdminSection{
	background: rgba(255, 255, 255, 0.5);
	visibility:visible;
}
.activeAdminItem{
			background:#ffffff;	
		}
.activeAdminLink{
			color:#00bfa5;
		}