.blog-wrapper {
	width:100%;
	margin-top:70px;
	position:relative;
	padding-bottom:185px;
	@include tablets{
		padding-bottom:270px;
	}
	@include phones {
		padding-bottom:350px;
	}
}
#aside{
	width:21.66%;
	float:left;	
	@include tablets{
		background:#4e8839;
		width:60%;
		padding:40px 0;
		border-radius:0 10px 10px 0;
		z-index:2;
		position:fixed;
		top:30%;
		left:-60%;
	}
}
.aside-wrapper__list{
	list-style:none;
	margin-left:6.6%;
}
.aside-wrapper__item{
	margin-bottom:40px;
	text-align:right;
	padding-right:20px;
	cursor:pointer;
	&:hover{
		border-right:2px solid #4e8839;
	}
}
.aside-wrapper__link{
	text-decoration:none;
	color:#455a64;
	font-family:'robotomedium';
	font-size:16px;
	&:hover{
		color:#4e8839;
		font-weight:bold;
	}
	@include tablets{
		color:#ffffff;
		&:hover{
			color:#ffffff;
		}
	}
}

.blog-content{
	width:48.88%;
	float:right;
	margin-right:22.77%;
	position:relative;
	@include tablets{
		float:none;
		width:90%;
		margin:auto;
	}
	&__article{
		border-bottom:3px solid #ecebe4;
		margin-bottom:70px;
		&:last-child{
			border:none;
		}
	}
	.article__header{
		color:#455a64;
		font-size:35px;
		margin-bottom:30px;
		font-family:'sansus_webissimoregular';
		@include tablets{
			font-size:30px;
		}
	}
	.article__date{
		color:#4e8839;
		font-size:16px;
		margin-bottom:30px;
		font-family:'robotomedium';
		@include tablets{
			font-size:14px;
		}	
	}
	.article__content{
		color:#455a64;
		margin-bottom:70px;
		line-height:1.5;
		font-family:'robotomedium';
		@include tablets{
			font-size:14px;
		}	
	}
}
#aside-button{
	cursor:pointer;
	width:30px;
	height:50px;
	background:#4e8839;
	border:1px solid #8eae80;
	border-radius:0 50% 50% 0;
	position:fixed;
	top:50%;
	display:none;
	@include tablets{
		display:block;
	}
}