@import 'mixins';
.footer {
	height:185px;
	width:100%;
	background-color: rgba(55, 62, 66, 0.7);
	position:relative;
	text-align:left;
	position:absolute;
	bottom:0;
	left:0;
	&__menu-list{
		padding:5px 0;
	}
	&__menu-item{
		display:inline-block;
		width:33%;
		border-left:1px solid #555956;
		color:#aaacad;
		padding:10px 30px;
		&.cite{
			font-family:'robotoitalic';
			span{
				display:block;
				font-family:'robotobold';
			}
		}
		&.info{
		font-family:'robotolight';
		border:none;
		}
	}
	&__bottom{
		width:100%;
		height:40px;
		line-height:40px;
		text-align:center;
		background:#668f56;
		color:#ffffff;
		position:absolute;
		bottom:0;
		left:0;
		@include phones{
			height:60px;
			line-height:1.7;
		}
	}
}
.menu__list{
	list-style:none;
	margin-left:-40px;
	&-item{
		display:inline-block;
		width:20%;
		vertical-align:top;
		&:hover{
			text-decoration:underline;
		}
	}
	&-link{
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	}
}
/*Adaptive footer*/
.footer{
	@include tablets{
		height:270px;
		font-size:14px;
	}
	@include desktop{
		font-size:14px;	
	}
	@include phones{
		height:350px;
		text-align:center;
	}
}
.footer__menu-item.info{
	@include tablets{
		width:49%;
	}
	@include phones {
		width:95%;
		margin:auto;
		display:block;
		border-bottom:1px solid #555956; 
		padding-bottom:10px;
	}
}
.footer__menu-item.menu{
	@include tablets{
		width:49%;
	}
	@include phones {
		width:95%;
		margin:auto;
		display:block;
		border-bottom:1px solid #555956;
		border-left:none;
	}
}
.footer__menu-item.cite{
	@include tablets{
		display:block;
		width:100%;
	}
	@include desktop{
		font-size:14px;
	}
	@include phones {
		width:95%;
		margin:auto;
		display:block;
		border:none; 
	}
}