@import 'mixins';
.head__table {
	height:100vh;
	width:100%;
	position:relative;
	background:url('../img/water.jpg') top center no-repeat;
	background-size:cover;
	overflow:hidden;
	padding:30px 30px 0 30px;
	&-content {
		width:380px;
		height:250px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-125px;
		margin-left:-190px;
		text-align:center;
	}
	
	&-footer {
		.triangle {
 		 fill: #ffffff;
		}
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
		margin-bottom:-5px;
	}
}
.container__info.works {
	color:#ffffff;
	font-size:16px;
	font-family:'robotomedium';
}
.arrow-down{
	position:absolute;
	top:80%;
	left:49%;
	opacity:0.7;
	cursor:pointer;
	z-index:5;
	&:hover{
		opacity:1;
	}
}
.polygon {
	@include tablets{
		fill:#ebefe2;
	}
}
.menu_button{
	float:right;
	z-index:5;
}

#label__menu{
	display:block;
	width:40px;
	height:40px;
	cursor:pointer;
	&:before, &:after, span{
		content:'';
		float:left;
		display:block;
		width:100%;
		height:5px;
		border-radius:2px;
		background:#ffffff;
		margin-bottom:10px;
		transition: all .3s ease;
	}
	&:before,&:after{
		transition: all .3s ease;
	}
	&:before{
		transform-origin:100% 0;
	}
	span{
		transition: all .3s ease .15s;
		transform-origin:100% 50%; 
	}
	&:after{
		transform-origin:100% 100%;
	}
	input#menu_checkbox:checked + &{
		&:before,&:after{
			transition-delay:.15s;
		}
		&:before{
			transform:rotate(-45deg) scaleX(1.14);
		}
		span{
			transform:scaleX(0);
		}
		&:after{
			transform:rotate(45deg) scaleX(1.14);
		}
	}
}
input#menu_checkbox{
	display:none;
}