@import 'mixins';
.head__table {
	height:100vh;
	min-height:650px;
	width:100%;
	position:relative;
	overflow:hidden;

	&_background{
		position:absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		& img{
			display:block;
			max-width:100%;
		}
	}
	&-head{
		position:absolute;
		top:0;
		left:0;
		padding:30px 0 0 30px;
		width:100%;
	}
	&-content {
		width:380px;
		height:250px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-125px;
		margin-left:-190px;
		text-align:center;
	}
	&_bg{
		position:absolute;
		top:50%;
		left:0;
		right:0;
		transform:translateY(-50%);
		opacity:0.2;
		text-align:center;
		img{
			display:inline-block;
			max-width:100%;
		}
	}
	&-footer {
		.triangle {
 		 fill: #ffffff;
		}
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
		margin-bottom:-5px;
	}
}
.container__info.works {
	color:#ffffff;
	font-size:16px;
	font-family:'robotomedium';
}
.arrow-down{
	position:absolute;
	top:80%;
	left:49%;
	opacity:0.7;
	cursor:pointer;
	z-index:5;
	&:hover{
		opacity:1;
	}
}
.polygon {
	@include tablets{
		fill:#ebefe2;
	}
}