
@import 'mixins'; 
html{
	font-size:16px;
}
body{
	width:100%;
}
#page-preloader{
	width:100%;
	height:100vh;
	background:url(../img/forest_preloader.gif) top center no-repeat;
	background-size:cover;
	top:0;
	left:0;
}
.wrapper {
	width:100%;
	height:100vh;
	min-height:650px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	background:url('../img/water.jpg') top center no-repeat;
	background-size:cover;
	overflow:hidden;
}
header{
	height:100px;
	align-self:flex-end;
	@include phones{
		align-self:center;
	}
}
.autorize-link__wrapper {
	width:180px;
	height:45px;
	border-radius:45px;
	border:2px solid #ffffff;
	margin-right:100px;
	margin-top:25px;
	text-align:center;
	line-height:45px;
	overflow:hidden;
	@include phones{
			width:145px;
			height:35px;
			line-height:35px;
			margin:25px auto;
		}
}
#autorize-link {
	color:white;
	display:block;
	text-decoration:none;
	font-family:'robotolight';
	&:hover {
		background-color:#4e8839;
	}
	@include phones{
			font-size:14px;
		}
}
.container {
	background:rgba(18, 38, 32, 0.7);
	width:380px;
	padding-top:40px;
	border-radius:10px;
	text-align:center;
	overflow:hidden;
	@include phones{
		width:300px;
		padding-top:20px;
	}
	
	&__img-wrapper {
		display:inline-block;
		border-radius:50%;
		width:140px;
		height:140px;
		overflow:hidden;
	}
	&__img{
		width:140px;
		height:auto;
	}
	
	&__socials-wrapper {
		display:inline-block;	
		margin:0;
	}
	&__socials {
		display:inline-block;	
		margin-left:25px;
		cursor:pointer;
		vertical-align:top;
		font-family:'robotomedium';
		&.vk {
			margin-left:0px;
		}
		&-link {
			display:block;
			height:35px;
		}
		@include phones{
			font-size:14px;
		}
	}
	&__menu-wrapper {
		width:100%;
		margin-top:30px;
		@include phones{
			margin-top:20px;
		}
	}
	&__menu-list {
		list-style:none;
		background:#608c53;
		padding:0;
		margin:0;
		width:100%;
	}
	&__menu-item {
		display:inline-block;
		text-align:center;
		border-right:2px solid #a0b89d;
		background-color:#608c53;
		line-height:45px;
		width:32%;
		&:first-child{
			margin-left:none;
		}
		&:last-child{
			border:none;
		}
		&:hover{
			background:#659753;
		}
	}
	&__menu-link{
		color:#ffffff;
		text-decoration:none;
		display:block;
	}
	&-autorization__header {
		text-transform:uppercase;
		color:#FFFFFF;
		font-size:35px;
		margin-bottom:25px;
		font-family:'sansus_webissimoregular';
		@include phones{
			font-size:30px;
			margin-bottom:15px;
		}
	}
	&-autorization__line {
		width:90px;
		height:4px;
		background:#ffffff;
		display:inline-block;
		margin-bottom:15px;
		@include phones{
			margin-bottom:10px;
		}
	}
	
	&__input{
		width:340px;
		height:45px;
		border-radius:25px;;
		padding-left:20px;
		color:#8f9191;
		font-family:'robotomedium';
		background-clip: padding-box;
    	border-left-width: 45px;
    	border-top: none;
    	border-bottom: none;
    	border-right: none;
    	margin:0 auto 30px;
		&#input_password {
			margin-top: -20px;
		}
		@include phones{
			width:225px;
			font-size:14px;
		}
	}
	&-label {
		font-size:16px;
		color:#8f9191;
		font-family:'robotomedium';
		&.man{
			position:relative;
			@include phones{
				font-size:14px;
			}
		}
	}
	&__menu-item.autorization {
		width:49%;
	}
}
.container__header {
	font-size:28px;
	color:#ffffff;
	font-family:'robotomedium';
	@include phones{
		font-size:21px;
	}
}
.container__info {
	color:#8f9191;
	margin-bottom:35px;
	font-family:'robotomedium';
	@include phones{
		font-size:14px;
		margin-bottom:20px;
	}
}
.question{
	font-family:'robotobold';
	color:#ffffff;
	margin:25px auto 15px;
}
.input-wrapper{
	display:block;
}
.svg-login{
	position:relative;
	width:25px;
	height:25px;
	top:35px;
	left:30px;
	@include phones{
		left:45px;
	}
}
.svg-password{
	position:relative;
	width:25px;
	height:25px;
	top:23px;
	left:30px;
	@include phones{
		left:45px;
	}
}

/*Check-boxes*/
#container-autorization__man, #container-autorization__yes,
#container-autorization__no{
	display:none;
}
label.container-label.man:before{
	content:'';
	width:20px;
	height:20px;
	border:0.5px solid #4e8839;
	border-radius:5px;
	background:#608c53;
	position:absolute;
	top:0;
	left:-40px;
	cursor:pointer;
}
input#container-autorization__man:checked + label.container-label.man:before{
	background-image: url("../view/svg/sprite.view.svg");
	background-repeat:no-repeat;
	background-position: 93.03303748798462% 73.12624916722186%;
	background-color:#608c53;
	width:20px;
	height:20px;
}
input#container-autorization__man:checked + label.container-label.man{
	color:#4e8839;
}
label.container-label.yes,label.container-label.no{
	position:relative;
	margin-left:40px;
}
label.container-label.yes:before, label.container-label.no:before{
	content:'';
	width:15px;
	height:15px;
	border-radius:50%;
	border:1px solid #ffffff;
	background:#ffffff;
	position:absolute;
	top:0;
	left:-30px;
	cursor:pointer;
}
input#container-autorization__yes:checked + label.container-label.yes:before,
input#container-autorization__no:checked + label.container-label.no:before{
	width:10px;
	height:10px;
	border-radius:50%;
	border:5px solid #ffffff;
	background:#4e8839;
}
input#container-autorization__yes:checked + label.container-label.yes,
input#container-autorization__no:checked + label.container-label.no{
	color:#4e8839;
}

/*Socials*/
.social-icon{
	color:#ffffff;
	transition:color 0.3s;
	&:hover{
		color:#659753;
	}
}
/*Animation*/
.wrapper-flipper {
	flex:0 1 auto;
	align-self:center;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	width:380px;
	min-height:470px;
	@include phones{
		width:300px;
		min-height:470px;
		align-self:none;
	}
}
.hover {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform:rotateY(180deg);
}

.flipper {
	-webkit-transition: 0.8s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.8s;
	-moz-transform-style: preserve-3d;
  
	-o-transition: 0.8s;
	-o-transform-style: preserve-3d;

	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}


.container,
.container.autorization {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.container {
	z-index: 2;
}

.container.autorization {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

/*Animation-end*/

footer {
	width:100%;
	height:100px;
	text-align:center;
	color:#ffffff;
	flex:0 0 auto;
	font-family:'robotolight';
	@include phones{
			font-size:14px;
		}
}
.loginMe{
	display:block;
	width:100%;
	border:none;
	background-color:#608c53;
	cursor:pointer;
	&:hover{
		background:#659753;
	}
}