.frontend{
	width:100%;
	text-align:left;
	@include tablets{
		text-align:center;
	}
	&__head{
		font-size:28px;
		font-family:'robotomedium';
		width:100px;
		color:#566358;
		margin-bottom:20px;
		@include tablets{
			margin:auto;
		}
		@include phones{
			font-size:21px;
		}
	}
	&__blocks{
		width:120px;
		height:120px;
		display:inline-block;
		position:relative;
		@include phones{
			width:110px;
			height:110px;
			margin:20px;
		}
	}
	&__text{
		color:#77a266;
		font-size:12px;
		text-align:center;
		position:absolute;
		top:45%;
		left:50%;
		transform:translate(-50%, -50%);
		white-spacing:nowrap;
		@include phones{
			font-size:10px;
		}
	}
}
.circles{
	width:120px;
	height:120px;
	fill:none;
	stroke-width:20px;	
}
.sector{
	stroke-dasharray:251;
	stroke-dashoffset:251;	
	transition: all 5s;	
}

.css{
	opacity:0.95;
}
.js{
	opacity:0.95;
}
.php{
	opacity:0.3;
}
.mysql{
	opacity:0.4;
}
.node{
	opacity:0.3;
}
.mongo{
	opacity:0.5;
}
.git{
	opacity:0.95;
}
.gulp{
	opacity:0.8;
}
.bower{
	opacity:0.65;
}
