body{
	width:100%;
	min-height:650px;
}
.wrapper {
	width:100%;
	background:url('../img/water.jpg') top center no-repeat;
	background-position:cover;
	margin-bottom:100px;
	position:relative;
}
header{
	height:100px;
}
.autorize-link__wrapper {
	width:180px;
	height:45px;
	border-radius:45px;
	border:2px solid #ffffff;
	float: right;
	margin-right:100px;
	margin-top:25px;
	text-align:center;
	line-height:45px;
	overflow:hidden;
}
.autorize-link {
	color:white;
	display:block;
	text-decoration:none;
	&:hover {
		background-color:#4e8839;
	}
}
.container {
	background-color:#191919;
	width:380px;
	padding-top:40px;
	border-radius:10px;
	text-align:center;
	overflow:hidden;
	margin:auto;

	&__img-wrapper {
		display:inline-block;
		border-radius:50%;
		width:140px;
		height:140px;
		overflow:hidden;
	}
	&__header {
		font-size:28px;
		color:#ffffff;
	}
	&__info {
		color:#8f9191;
		margin-bottom:0;
	}
	&__socials-wrapper {
		display:inline-block;	
		margin-bottom:45px;
	}
	&__socials {
		display:inline-block;	
		width:30px;
		margin-left:25px;
		opacity:0.7;
		cursor:pointer;
		&.vk {
			background:url(../icons/css/svg/sprite.css-6f5635e1.svg) no-repeat;
			height:17px;
			margin-left:0px;
		}
		&.git {
			background:url(../icons/css/svg/sprite.css-6f5635e1.svg) -30px 0 no-repeat;
			height:23px;
		}
		&.in {
			background:url(../icons/css/svg/sprite.css-6f5635e1.svg) 0 -17px no-repeat;
			height:22px;
		}
		&:hover {
			opacity:1;
		}
	}
	&__menu-wrapper {
		height:45px;
	}
	&__menu-list {
		list-style:none;
		padding:0;
		margin:0;

	}
	&__menu-item {
		display:inline-block;
		text-align:center;
		border-right:2px solid #a0b89d;
		background-color:#608c53;
		line-height:45px;
		margin-left:-4px;
		padding:0 32px;
		&:first-child{
			margin-left:none;
		}
		&:last-child{
			border:none;
		}
	}
	&__menu-link{
		color:#ffffff;
		text-decoration:none;
		display:block;
		cursor:pointer;
		&:hover .container__menu-item {
			background-color:#487d38;
		}
	}
	&-autorization__header {
		text-transform:uppercase;
		color:#FFFFFF;
		font-size:35px;
		margin-bottom:25px;
	}
	&-autorization__line {
		width:90px;
		height:4px;
		background:#ffffff;
		display:inline-block;
		margin-bottom:30px;
	}
	&__input{
		width:340px;
		height:45px;
		border-radius:25px;
		padding-left:20px;
		color:#8f9191;
		margin-bottom:20px;
	}
	&__checkbox {
		margin-bottom:20px;
	}
	&-label {
		font-size:16px;
		color:#8f9191;
		margin-bottom:20px;
	}
	&__menu-item.autorization {
		padding:0 64px;
	}
}
footer {
	width:100%;
	height:100px;
	position:absolute;
	left:0;
	bottom:0;
	text-align:center;
	color:#ffffff;
}