@import 'header';
.works {
	height:100vh;
	&__head{
	text-transform:uppercase;
	text-align:center;
	color:#373e42;
	font-size:63px;
	background:url(../img/works_header.svg) top center no-repeat;
	padding:50px 0 100px;
	}
	&__line{
		width:90px;
		height:4px;
		background:#373e42;
		margin:30px auto;
	}
	&__myWorks {
	width:100%;
	height:100vh;
	background-color:#ebefe2;

	}
}
.about-me__left_info {
	background:#ebefe2;
	text-align:center;
	width:50%;
	float:left;
}
.works__skills-info{
	color:#6c9c5a;
	font-size:16.02px;
	font-family:'robotomedium';
	text-transform:uppercase;
	margin-bottom:60px;
}
.works__site{
	background:#6c9c5a;
	width:200px;
	height:45px;
	border-radius:15px;
	display:inline-block;
	padding-top:15px;
}
.works__url{
	margin-left:20px;
	position:relative;
	text-decoration:none;
	color:#ffffff;
}
.works__img{
	position:absolute;
	width:20px;
	height:20px;
	top:0;
	left:-30px;
}
.about{
	margin:0;
	width:100%;
	position:relative;
	background:#f4f5f0;
	&__head{
		text-transform:uppercase;
		text-align:center;
		color:#373e42;
		font-size:63px;	
		padding-top:50px;
		background:url(../img/about_header.svg) top center no-repeat;
		padding:50px 0 100px;
	}	
	&__up{
		width:100%;
		background:url(../img/about.jpg) top center no-repeat;
		background-size:cover;
		padding-bottom:185px;
	}
	&__wrapper{
		margin:0 auto 30px;
		width:60%;
		&-comment{
			display:inline-block;
			width:370px;
			&:first-child{
				margin-right:20px;
			}
		}
		&-img{
			width:80px;
			height:80px;
			border-radius:50%;
			overflow:hidden;
			margin:auto;
			margin-bottom:20px;
		}
		&-info{
			font-style:italic;
			line-height:1.5;
			font-size:16px;
		}
		&-author{
			display:block;
			float:right;
			span{
				color:#4e8839;
				display:block;
			}
		}
	}
}
.contact-me{
	padding-top:40px;
	width:380px;
	margin:0 auto 25px;
	background:rgba(218, 219, 214, 0.7);
	color:#566358;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	&__header{
		text-transform:uppercase;
		font-size:35px;
		margin-bottom:30px;
	}
	&__line{
		width:85px;
		height:4px;
		background:#566358;
		display:inline-block;
		margin-bottom:30px;
	}
	&__input, &__textarea{
		width:340px;
		border-radius:25px;
		padding-left:20px;
		margin-bottom:20px;
		color:#566358;
	}
	&__textarea{
		padding-top:20px;
	}
	&__input{
		height:45px;
	}
	&__wrapper{
		width:100%;
	}
	&__list{
		list-style:none;
		margin:0;
		padding:0;
	}
	&__item{
		display:inline-block;
		border-right:2px solid #a0b89d;
		background-color:#608c53;
		line-height:45px;
		margin-left:-4px;
		width:49%;
		&:first-child{
			margin-left:none;
		}
		&:last-child{
			border:none;
		}
	}
	&__link{
		display:block;
		text-decoration:none;
		color:#ffffff;
	}
}