@import 'header';
@import 'mixins';
html{
	font-size:16px;
}
.works {
	&__head{
	text-transform:uppercase;
	text-align:center;
	font-family:'sansus_webissimoregular';
	color:#373e42;
	font-size:63px;
	background:url(../img/works_header.svg) top center no-repeat;
	@include tablets{
		background-size:90%;
	}
	padding:50px 0 100px;
	}
	&__line{
		width:90px;
		height:4px;
		background:#373e42;
		margin:30px auto;
	}
}
.slider {
	width:100%;
	height:100vh;
	background:#ebefe2;
	min-height:650px;
	@include tablets{
		height:auto;
		min-height:0;
	}
}
.about-me__left.inform {
	background:#ebefe2;
	text-align:center;
	position:relative;
	height:100%;
	
	&:before{
		content:'';
		display:inline-block;
		vertical-align:middle;
		height:100%;
		width:0;

		@include tablets{
			display:none;
		}
	}
	@include tablets{
		float:none;
		width:100%;
	}
}
.about-me__left_center{
	display:inline-block;
	vertical-align:middle;
	max-width:90%;
}
.works__skills-info{
	color:#6c9c5a;
	font-size:16.02px;
	font-family:'robotomedium';
	text-transform:uppercase;
	margin-bottom:rem(60px);
}
.works__site{
	background:#608c53;
	width:rem(200px);
	height:rem(45px);
	border-radius:15px;
	display:inline-block;
	padding-top:rem(15px);
	&:hover{
		background:#659753;
	}
}
.works__url{
	margin-left:20px;
	position:relative;
	text-decoration:none;
	color:#ffffff;
}
.works__img{
	position:absolute;
	width:20px;
	height:20px;
	top:0;
	left:-30px;
}
.about-me__right.slider__right{
	background:#e2e4d7;
	position:relative;
	@include tablets{
		width:100%;
		float:none;
	}
}
.slider__controls{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:230px;
	display:block;
	@include tablets{
		position:static;
		height:100px;
	}
}
.slider__controls-item{
	display:block;
	float:left;
	width:50%;
	position:relative;
	height:100%;
	&:after{
		content:'';
		display:block;
		position:absolute;
		width:45px;
		height:30px;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		z-index:3;
	}
	&:before{
		content:'';
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		z-index:2;
		background:rgba(182, 180, 174, 0.7);	
	}
	.slider__img{
		max-width:90%;
		max-height:90%;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		&.active{
			top:0;
		}
	}
}
.slider__controls-item_prev{
	overflow:hidden;
	&:after{
		background:url(../img/portf_arrow_down.svg) 0 0 no-repeat;
	}
}
.slider__controls-item_next{
	overflow:hidden;
	&:after{
		background:url(../img/portf_arrow_up.svg) 0 0 no-repeat;
	}
}
.slider__display{
	z-index:1;
	position:absolute;
	top:0;
	left:100%;
	width:100%;
	height:400px;
	overflow:hidden;
	@include tablets{
		position:static;
		height:auto;
	}
	
	&_img{
		max-width:90%;
		max-height:90%;
		position:absolute;
		top:0;
		bottom:0;
		margin:auto;
		right:0;
		left:0;
		@include tablets{
			position:static;
		}

	}
}
.about{
	margin:0;
	width:100%;
	position:relative;
	background:#f4f5f0;
	&__head{
		font-family:'sansus_webissimoregular';
		text-transform:uppercase;
		color:#373e42;
		font-size:63px;	
		text-align:center;
		padding-top:50px;
		background:url(../img/about_header.svg) top center no-repeat;
		padding:50px 100px;
		margin:auto;
		@include tablets{
			background-size:90%;
		}
		&.inside{
			font-family:'sansus_webissimoregular';
			@include phones{
				font-size:30px;
			}
		}
	}	
	&__review{
		background:url(../img/about.jpg) top center no-repeat;
		background-size:cover;
		padding-bottom:185px;
		
		@include tablets{
			padding-bottom:270px;
		}
		@include phones {
			padding-bottom:350px;
		}
	}
	&__wrapper{
		margin:auto;
		margin-bottom:30px;
		width:60%;
		text-align:center;
		@include tablets{
			width:100%;
		}
		&-comment{
			text-align:left;
			display:inline-block;
			width:370px;
			font-family:'robotoitalic';
			&:first-child{
				margin-right:20px;
				@include tablets{
					margin:0 auto 30px;
				}
			}
			@include phones{
				width:300px;
			}
		}
		&-img{
			width:80px;
			height:80px;
			border-radius:50%;
			overflow:hidden;
			margin:auto;
			margin-bottom:20px;
		}
		&-info{
			line-height:1.5;
			font-size:16px;
		}
		&-author{
			display:block;
			float:right;
			font-family:'robotobold_italic';
			span{
				color:#4e8839;
				display:block;
				font-family:'robotoitalic';
			}
		}
	}
}
.contact-me{
	padding-top:40px;
	width:380px;
	margin:auto;
	margin-bottom:25px;
	background:rgba(218, 219, 214, 0.7);
	color:#566358;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	@include phones{
		width:300px;
	}
	&__header{
		text-transform:uppercase;
		font-size:35px;
		margin-bottom:30px;
		font-family:'sansus_webissimoregular';
		@include phones{
			font-size:21px;
		}
	}
	&__line{
		width:90px;
		height:4px;
		background:#566358;
		display:inline-block;
		margin-bottom:30px;
	}
	&__input, &__textarea{
		width:340px;
		border-radius:25px;
		padding-left:20px;
		margin-bottom:20px;
		color:#566358;
		@include phones{
			font-size:14px;
			width:260px;
		}
	}
	&__textarea{
		padding-top:20px;
	}
	&__input{
		height:45px;
		font-family:'robotomedium';
	}
	&__wrapper{
		width:100%;
	}
	&__list{
		list-style:none;
		margin:0;
		padding:0;
	}
	&__item{
		display:inline-block;
		border-right:2px solid #a0b89d;
		background-color:#608c53;
		line-height:45px;
		margin-left:-3px;
		width:49.9%;
		&:first-child{
			margin-left:none;
		}
		&:last-child{
			border:none;
		}
		&:hover{
			background:#659753;
		}
	}
	&__link{
		display:block;
		text-decoration:none;
		color:#ffffff;
		font-family:'robotomedium';
	}
}