@import 'header';
@import 'mixins';
html{
	font-size:16px;
}
.works {
	&__head{
	text-transform:uppercase;
	text-align:center;
	font-family:'sansus_webissimoregular';
	color:#373e42;
	font-size:63px;
	background:url(../img/works_header.svg) top center no-repeat;
	@include tablets{
		background-size:90%;
	}
	padding:50px 0 100px;
	}
}
.works__line{
	width:90px;
	height:4px;
	background:#373e42;
	margin:30px auto;
}
.slider {
	width:100%;
	height:100vh;
	background:#ebefe2;
	min-height:650px;
	@include tablets{
		height:auto;
		min-height:0;
	}
}
.about-me__left.inform {
	background:#ebefe2;
	text-align:center;
	position:relative;
	height:100%;
	
	&:before{
		content:'';
		display:inline-block;
		vertical-align:middle;
		height:100%;
		width:0;

		@include tablets{
			display:none;
		}
	}
	@include tablets{
		float:none;
		width:100%;
	}
}
.about-me__left_center{
	display:inline-block;
	vertical-align:middle;
	max-width:90%;
}
.works__skills-info{
	color:#6c9c5a;
	font-size:16.02px;
	font-family:'robotomedium';
	text-transform:uppercase;
	margin-bottom:rem(60px);
}
.works__site{
	background:#608c53;
	width:200px;
	height:45px;
	border-radius:15px;
	display:inline-block;
	line-height:45px;
	overflow:hidden;
	@include tablets{
		margin-bottom:30px;
	}
}
.works__url{
	display:block;
	width:200px;
	height:45px;
	position:relative;
	text-decoration:none;
	color:#ffffff;
	border-radius:15px;
	&:hover{
		background:#659753;
	}
}
.works__img{
	position:absolute;
	width:20px;
	height:20px;
	top:13px;
	left:10px;
}
.about-me__right.slider__right{
	background:#e2e4d7;
	position:relative;
	@include tablets{
		width:100%;
		float:none;
	}
}
.slider__controls{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:30%;
	display:block;
	@include tablets{
		position:static;
		height:100px;
	}
}
.slider__controls-item{
	display:block;
	float:left;
	width:50%;
	position:relative;
	height:100%;

	&:after{
		content:'';
		display:block;
		position:absolute;
		width:45px;
		height:30px;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		z-index:3;
	}
	&:before{
		content:'';
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		z-index:2;
		background:rgba(182, 180, 174, 0.7);	
	}
	.slider__img{
		max-width:90%;
		max-height:90%;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		margin:auto;
		&.active{
			z-index:1;
		}
	}
}
.slider__controls-item_prev{
	overflow:hidden;
	&:after{
		background:url(../img/portf_arrow_down.svg) 0 0 no-repeat;
	}
}
.slider__controls-item_next{
	overflow:hidden;
	&:after{
		background:url(../img/portf_arrow_up.svg) 0 0 no-repeat;
	}
}
.slider__display{
	z-index:1;
	position:absolute;
	top:0;
	left:100%;
	width:100%;
	height:70%;
	overflow:hidden;
	@include tablets{
		position:static;
		height:auto;
	}
	
	& img{
		max-width:90%;
		max-height:90%;
		position:absolute;
		top: 0;
		margin:auto;
		bottom:0;
		left: 0;
		right: 0;	
			
		@include tablets{
			position:static;
		}
	}
}
.about{
	margin:0;
	width:100%;
	position:relative;
	background:#f4f5f0;
	&__head{
		font-family:'sansus_webissimoregular';
		text-transform:uppercase;
		color:#373e42;
		font-size:63px;	
		text-align:center;
		padding-top:50px;
		background:url(../img/about_header.svg) top center no-repeat;
		padding:50px 100px;
		margin:auto;
		@include tablets{
			background-size:90%;
		}
		&_inside{
			font-family:'sansus_webissimoregular';
			@include phones{
				font-size:35px;
			}
		}
	}	
	&__review{
		background:url(../img/about.jpg) top center no-repeat;
		background-size:cover;
		padding-bottom:185px;
		position:relative;
		@include tablets{
			padding-bottom:270px;
		}
		@include phones {
			padding-bottom:350px;
		}
	}
	&__wrapper{
		margin:auto;
		margin-bottom:30px;
		width:60%;
		text-align:center;
		@include tablets{
			width:100%;
		}
		&-comment{
			text-align:left;
			display:inline-block;
			width:370px;
			font-family:'robotoitalic';
			&:first-child{
				margin-right:50px;
				@include tablets{
					margin:0 auto 30px;
				}
			}
			@include phones{
				width:300px;
			}
		}
		&-img{
			width:80px;
			height:80px;
			border-radius:50%;
			overflow:hidden;
			margin:auto;
			margin-bottom:20px;
		}
		
		&-info{
			line-height:1.6;
			font-size:16px;
			font-family:'robotoitalic';
			color:#373e42;
			margin-bottom:20px;
			
		}
		&-author{
			display:block;
			text-align:center;
			font-family:'robotobold_italic';
			color:#4e8839;
			span{
				color:#373e42;
				display:block;
				font-size:16px;
				font-family:'robotoitalic';
			}
		}
		&_quote{
			width:100%;
			height:100%;
			background:url(../img/quote.png) top left no-repeat;
		}
	}
}
.contact-me{
	width:380px;
	margin:auto;
	padding-top:40px;
	margin-bottom:25px;
	background:rgba(218, 219, 214, 0.5);
	color:#566358;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	@include phones{
		width:300px;
	}
	&__form{
		z-index:5;
	}
	.blur{
		width:100%;
		height:100%;
		filter: blur(20px);
		-webkit-filter: blur(20px);
		background-image: url("../img/about.jpg");
		background-position: center center;
		background-repeat: no-repeat; 
	}
	&__header{
		text-transform:uppercase;
		font-size:35px;
		margin-bottom:30px;
		font-family:'sansus_webissimoregular';
		@include phones{
			font-size:21px;
		}
	}
	&__line{
		width:90px;
		height:4px;
		background:#566358;
		display:inline-block;
		margin-bottom:30px;
	}
	&__input, &__textarea{
		width:340px;
		border-radius:25px;
		padding-left:20px;
		margin-bottom:20px;
		color:#566358;
		border:none;
		@include phones{
			font-size:14px;
			width:260px;
		}
	}
	&__textarea{
		padding-top:20px;
		resize:none;
	}
	&__input{
		height:45px;
		font-family:'robotomedium';
	}
	&__wrapper{
		width:100%;
		background:#608c53;
	}
	&__list{
		list-style:none;
		margin:0;
		padding:0;
	}
	&__item{
		display:inline-block;
		border-right:2px solid #a0b89d;
		background-color:#608c53;
		line-height:45px;
		width:49.2%;
		&:first-child{
			margin-left:none;
		}
		&:last-child{
			border:none;
		}
		&:hover{
			background:#659753;
		}
	}
	&__link{
		width:100%;
		background-color:#608c53;
		color:#ffffff;
		font-family:'robotomedium';
		cursor:pointer;
		border:none;
		&:hover{
			background:#659753;
		}
	}
}
.formPopup{
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(23, 24, 22, 0.6);
	top:0;
	left:0;
	z-index:2;
	visibility:hidden;
	&__wrapper{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:550px;
		padding:20px;
		border:1px solid #ffffff;
		border-radius:15px;
		position:relative;
		background:#ffffff;
		@include tablets{
			width:270px;
		}
	}
	&__close{
		display:block;
		cursor:pointer;
		width:27px;
		height:27px;
		position:absolute;
		right:-10px;
		top:-10px;
		border-radius:50%;
		background:#ffffff;
		border:2px solid #373e42;
		@include tablets{
			width:23px;
			height:23px;
		}
	}
	span{
		width:25px;
		height:3px;
		background-color:#373e42;
		border-radius:5px;
		transform-origin:100% 0;
		transform:rotate(-45deg);
		display:block;
		position:absolute;
		top:1px;
		left:-6px;
		@include tablets{
			width:20px;
			height:3px;
		}
		&:after{
			content:'';
			width:25px;
			height:3px;
			position:absolute;
			top:0;
			left:0;
			z-index:3;
			@include tablets{
				width:20px;
				height:3px;
			}
		}
		
	}
	&__message{
		color:#373e42;
		font-family:'robotomedium';
		font-size:21px;
		text-transform:uppercase;
		@include tablets{
			font-size:16px;
		}
	}
}
.span-line:after{
			width:25px;
			height:3px;
			background-color:#373e42;
			border-radius:5px;
			transform:rotate(-90deg);
			@include tablets{
				width:20px;
				height:3px;
			}
		}