.admin__content_header #{tabs.tab2.name}
section.admin__content_block
	.skills__head Добавить запись
	input.blog-input.blog-item(type="text" placeholder="Название")
	input.blog-input.blog-item(type="text" placeholder="Дата")
	textarea.blog-article.blog-item(name="blog-article", cols="30", rows="10", placeholder="Содержание")
	.admin__skills_saveBtn
		input(type="button" value="Добавить").save_btn