.admin__content_header #{tabs.tab2.name}
section.admin__content_block
	.skills__head Добавить запись
	form.admin__content-blog(action="")
		input.blog-input.blog-item(type="text" placeholder="Название" name="title")
		input.blog-input.blog-item(type="text" placeholder="Дата" name="date")
		textarea.blog-article.blog-item(cols="30", rows="10", placeholder="Содержание" name="body")
		.admin__skills_saveBtn
			input(type="submit" value="Добавить").save_btn.adminButton